@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --orange: #e84610;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
.formFeedback {
    color: var(--orange);
}

#resetBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.formFeedback {
    margin-top: .5rem;
}